
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title >Case Logging View</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">

</head>
<body>
<div class="container">
    <style>
         #logo{
             display :none;
         }
     </style>
     <div class="row"></div>
     <br><br><br>

     <div class="row col-lg-12">
        <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2">

            <form action="" method="POST" class="">
                {{ form.hidden_tag() }}
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                        {% for category,message in messages %}
                        <div class="alert alert-{{ category }}">{{message}}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <h5 class="text-muted">Login</h5><br>
                <div class="form-group">
                    {{ form.email.label(class='form-control-label')}}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control  form-control-smis-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-sm")}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label")}}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control  form-control-smis-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group mt-3">
                    {{ form.submit(class="btn btn-sm btn-success btn-block mt-4")}}
                </div>

            </form>
            <a href="{{ url_for('register')}}" class="btn btn-sm btn-outline-info">Create Account? </a>

        </div>
     </div>
</div>
</body>
</html>